<form method="post" action="{{ path('app_publication_ws_delete', {'id': publication_w.id,'workspaceId':workspaceId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publication_w.id) }}">
    <button class="btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i> Delete</button>
</form>
