{% extends 'base.html.twig' %}

{% block title %}Edit PublicationWs
{% endblock %}

{% block body %}


	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="card shadow-lg">
					<div class="card-body">
						<br>
						<h1>Edit PublicationWs</h1>

						{{ include('publication_ws/_form.html.twig', {'button_label': 'Update'}) }}
						<br>
						<a href="{{ path('app_workspace_homews', {'id': workspaceId}) }} " class="genric-btn primary-border circle">back to list</a>
						<br><br>
						{{ include('publication_ws/_delete_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
