{% extends 'base.html.twig' %}

{% block title %}New PublicationWs{% endblock %}

{% block body %}
    <h1>Create new PublicationWs</h1>

    {{ include('publication_ws/_form.html.twig') }}

    <a href="{{ path('app_workspace_homews', {'id': workspaceId}) }}">back to list</a>
{% endblock %}
