{% extends 'base.html.twig' %}

{% block title %}Edit Grouppost{% endblock %}

{% block body %}
    <h1>Edit Grouppost</h1>

    {{ include('grouppost/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_grouppost_index') }}">back to list</a>

    {{ include('grouppost/_delete_form.html.twig') }}
{% endblock %}
