{% extends 'base.html.twig' %}

{% block title %}New Grouppost{% endblock %}

{% block body %}
    <h1>Create new Grouppost</h1>

    {{ include('grouppost/_form.html.twig') }}

    <a href="{{ path('app_grouppost_index') }}">back to list</a>
{% endblock %}
