{% extends 'base.html.twig' %}

{% block title %}Edit Commentairegrppost{% endblock %}

{% block body %}
    <h1>Edit Commentairegrppost</h1>

    {{ include('commentairegrppost/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commentairegrppost_index') }}">back to list</a>

    {{ include('commentairegrppost/_delete_form.html.twig') }}
{% endblock %}
