{% extends 'base.html.twig' %}

{% block title %}New Commentairegrppost{% endblock %}

{% block body %}
    <h1>Create new Commentairegrppost</h1>

    {{ include('commentairegrppost/_form.html.twig') }}

    <a href="{{ path('app_commentairegrppost_index') }}">back to list</a>
{% endblock %}
