<form method="post" action="{{ path('app_community_delete', {'idCommunity': community.idCommunity}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ community.idCommunity) }}">
    <button class="btn">Delete</button>
</form>
