{{ form_start(form) }}
{{ form_widget(form) }}

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<section class="mt-5>
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="..\img\addgrp.png" class="img-fluid" alt="Sample image" />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <div class="form-outline mb-4">
            <input type="text"
              class="form-control form-control-lg"
              placeholder="Enter a valid group name" />
            <label class="form-label" >Name</label>
          </div>

          <div class="form-outline mb-3">
            <input type="text"
              class="form-control form-control-lg"
              placeholder="Enter Description" />
            <label class="form-label" >Description</label>

          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
