{% extends 'base.html.twig' %}

{% block title %}New Workspace
{% endblock %}

{% block body %}


	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="card shadow-lg">
					<div class="card-body">
						<br>
						<h1>Create new Workspace</h1>
						{% if message is defined %}
							<div class="alert alert-danger">{{ message }}</div>
						{% endif %}
						{{ include('workspace/_form.html.twig') }}
                        <br>

						<a href="{{ path('app_workspace_index') }}" class="genric-btn primary-border circle">back to list</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
