{% extends 'base.html.twig' %}

{% block title %}New Workspace{% endblock %}

{% block body %}
    <h1>Create new Workspace</h1>

    {{ include('workspace/_form.html.twig') }}

    <a href="{{ path('app_workspace_index') }}">back to list</a>
{% endblock %}
