{% extends 'base.html.twig' %}

{% block title %}Passer le test "{{ test.name }}"{% endblock %}

{% block body %}
    <h1>Passer le test "{{ test.name }}"</h1>

    <p>Vous allez commencer le quiz pour le test "{{ test.name }}".</p>

    
{% endblock %}
