{% extends 'base.html.twig' %}

{% block title %}Edit Candidacy{% endblock %}

{% block body %}
    <h1>Edit Candidacy</h1>

    {{ include('candidacy/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_candidacy_index') }}">back to list</a>

    {{ include('candidacy/_delete_form.html.twig') }}
{% endblock %}
